#topBanner{
  text-font: Guardian;
  text-color: #660033;
  padding: 6, 6, 6, 6;
  background-color: #ff6600; //orange
}

#cookieCalculator{
  margin-left: 6px;
}

input[type="submit"] {
  border-width; thin;
  background-color: #ff6600;
  margin-top: 10px;
  margin-left: 18%;
  padding:5px;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 3px ridge black;
  background-color: #ff6600;
  padding:5px;
  color: white;
  cursor: pointer;
  background-color: #e600ff;
}

#subTitle{
  text-font: Zizo slab;
  text-color: #660033;
}

#fieldset{
  border-width: medium;;
  background-color: #f3f315;
  width: 20%;
  height: 180px;
  margin: 20px;
}

#inputBox{
  float: left;
}

.name{
  display: block;
  margin: 10px 5px 5px 5px;
  border-width: thin;
}


#formSection{
  float:left;
}

#table{
  margin-top: 50px;
  background-color: #83f52c;

}

#salmonPic {
  padding: 2, 2, 2, 2;
  background-color: #669999;
}

.bodyStyle{
  back-ground: #00ffcc;
}

.articleStyle{
  background-color: #00ffcc;
  background-color: #ff0099;

}

.footerStyle{

}
