#body {
  background-color: #e600ff;

  /*background-image: url("fish.jpg");
  background-repeat: no-repeat;*/
}

#topBar {
  position: static;
  background-color: teal;
  height: 275px;
  margin-top: 20px;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

/*#locationHeader {
  margin-top: 200px;
}*/

.stores {
  font-size: 24px;
  margin-top: 30px;
}

#bannerText {
  width: 600px;
  height: 100px;
  align-content: left;
  float: left;
  margin-left: 3%;
  margin-top: 5%;
  vertical-align: top;
}

#pats{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 2%;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 52px;
  text-shadow: 0 0 3px #e600ff, 0 0 5px #6e0dd0;

}

#cookieStand {
  float: left;
  padding-top: 3%;
  font-family: 'Luckiest Guy', cursive;
  font-size: 90px;
  text-shadow: 0 0 3px #e600ff, 0 0 5px #6e0dd0;
  color: white;
  vertical-align: top;
  margin-bottom: 5px;

}


#navStyle {
  display: inline;
  float: right;
  margin-top: 10px;
  margin-right: 3%;
}

.nav {
  margin: 3px;
  border: 3px solid black;
  text-align: center;
  padding: 40px;
  display: inline;
  background-image: url(salmon.png);
  background-size: auto;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  text-shadow: 3px 1px black;
  font-size: 20px;

}

#boxHomeAbout {
  margin-top: 60px;

}

#boxShopLogin {
  margin-top: 100px;

}

#home {
  background-color: #e600ff;

}

#home:hover {
  background-color: yellow;
}


#about {
  background-color: #ff6600;
}

#about:hover {
  background-color: yellow;
}

#shop {
  background-color: #83f52c;
  padding-right: 25px;
  padding-left: 25px;
}

#shop:hover {
  background-color: yellow;
}

#login {
  padding: 42px;
  background-color: #6e0dd0;
}

#login:hover {
  background-color: yellow;
}

.socNetworks {
  position: inherit;
  float: left;
  list-style-type: none;
  display: inline-block;
  margin: 0px 3px 3px;
}

#navIcons {
  margin-top: 10px;
  height: 100px;
  width: 50px;
}

#merchHead {
  display: block;
  position: fixed;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 300px;
  border: 10px double #e600ff;
  margin-top: 5px;
  margin-left: 40%;
  background-color: white;
  text-align: center;
  z-index: 9;
}

#merchSection {
  bottom: 10px;
  margin-left: 15%;
  margin-top: 5%;

}

.homePics {
  width: 800px;
  height: 300px;
  margin: 50px;
  padding: 50px;
  border: 3px solid black;
  background-color: teal;
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.homeText {
  float: left;
  background-color: white;
  position: absolute;
}

.homePicsBox1 {
  width: 800px;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  text-align: center;
  position: absolute;
  align-content: center;

}

.homePicsBox2 {
  width: 800px;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  position: absolute;
  align-content: center;
  margin-top: 930px;

}


/*#merchSection .homePics{
  border-radius: 100%;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  margin: 5px;
}*/

/*#merchSection .active{
  background-color: white;
}*/

.aboutText {
  font: arial;
  color: black;
}

#cookieCalculator{
  margin-left: 6px;
}

#aboutMain {
  padding: 50px 50px 100px;
  margin-left: 20%;

}


#familyPic {
  float: left;
  display: inline;
  margin-left: 90px;
  margin-top: 10px;
  margin-right: 25px;
  width:40%;
  height: 40%;
  align-content: center;

}

#familySquare {
  border: 2px;
  border-style: inset;
  width: 100%;
  height: 100%;
}

.aboutText {
  display: block;
  font-size: 20px;
  line-height: 110%;
  text-align: justify;
  width: 1000px;
  /*position: relative;*/
  /*top: 100px;*/
  font-family: 'Oxygen', sans-serif;
  padding: 100px 5px -1px;
}

input[type="submit"] {
  border-width; thin;
  background-color: #ff6600;
  margin-top: 10px;
  margin-left: 18%;
  padding:5px;
  color: white;
  cursor: pointer;
  width: 80px;
}

input[type="submit"]:hover {
  border: 3px ridge black;
  background-color: #ff6600;
  padding:5px;
  color: white;
  cursor: pointer;
  background-color: #e600ff;
}

#subTitle{
  text-font: Zizo slab;
  text-color: #660033;
}

#fieldset{
  border-width: medium;;
  background-color: #f3f315;
  width: 100px;
  height: 180px;
  margin: 20px;
  font-weight: bold;
}

#inputBox{
  float: left;
}

.name{
  display: block;
  margin: 10px 5px 5px 5px;
  border-width: thin;
}


#formSection{
  float:left;
}

#buildTable{
  margin-top: 70px;
  margin-left: 10px;
  background-color: #83f52c;
  border: 1px solid black;
  border-collapse: collapse;
}

.tdStyle {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.bodyStyle{
  back-ground: #00ffcc;
}

.articleStyle{
  background-color: #00ffcc;
  background-color: #ff0099;

}


#locations {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

#locationText {
  color: white;
  font-size: 24px;
  font-weight: normal;
}

#footerStyle {
  position: absolute;
  float: left;
  color: white;
  text-align: center;
  background-color: grey;
  width: 100%;
  height: 20px;
  margin-top: 130%;
  margin-bottom: 25px;
}

#footerStyleAbout {
  position: absolute;
  float: left;
  color: white;
  text-align: center;
  background-color: grey;
  width: 100%;
  height: 20px;
  margin-top: 10%;
  margin-bottom: 25px;
}
